.resume-title, .resume-container h2{
    text-align:center;
}

.resume-container{
    padding-left:15px;
    overflow-y: scroll;
}

.resume-container h2{
    font-size: 1.5rem;
}

.resume-pic{
    max-width: 200px;
    display: inline;
}

section{
    text-align:center;
}

.resume-p{
    display:inline-block;
    width:80%;
    padding-left: 20px;
    text-align: justify;
}

.resume-h2{
    margin-bottom: 15px;
}

.resume-h3, .resume-h4{
    margin-top:10px;
    margin-bottom:5px;
}

.resume-item{
    margin-bottom: 15px;
}

