.dark-light{
    width:40%;
    display:inline-block;
}

.dark-light-ul{
    padding:0;
    margin: 15px 0 0 0;
    text-align:center;
}

.dark-light-ul li {
    
        display: inline-block;
        padding:5px;
        font-size: 1.5rem; 
        cursor: pointer;
}

.dark-light-ul[data-back="Dark"] li{
    color: white;
}

.dark-light-ul[data-back="Light"] li{
    color: black;
}