.rectangle {
    width: 60%; /* 80% of the screen width minus 20% from both sides */
    height: 60vh; /* 60% of the viewport height */
    border: 2px solid white; /* 1px solid border */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the rectangle */
    cursor: url("/public/files/IMG/ball1.png"), pointer;
  }
  