.rectangle {
    width: 400px; /* 80% of the screen width minus 20% from both sides */
    height: 400px; /* 60% of the viewport height */
    border: 2px solid white; /* 1px solid border */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the rectangle */
    cursor: url("/public/files/IMG/ball1.png"), pointer;
  }

  .square-player{
    background-color: green;
    width: 25px;
    height:25px;
    position:absolute;
    display: inline-block;
  }
  