.themes {
    width:50%;
    display: inline-block;
}

.themes-ul{
    margin:0;
    padding:0;
    text-align: center;
    margin-top:15px;
}

.themes-li{
    border-bottom:none;
    display:inline-block;
    margin: 0 5px;
    padding: 10px;
}

.themes-li:hover{
    cursor:pointer;
}

.themes-ul[data-back = "Light"] [data-represent = red]{
    background-color: var(--main-c-3);
}
.themes-ul[data-back = "Light"] [data-represent = blue]{
    background-color: var(--main-c);
}
.themes-ul[data-back = "Light"] [data-represent = green]{
    background-color: var(--main-c-2);
}
.themes-ul[data-back = "Light"] [data-represent = pink]{
    background-color: var(--main-c-7);
}
.themes-ul[data-back = "Light"] [data-represent = yellow]{
    background-color: var(--main-c-8);
}
.themes-ul[data-back = "Light"] [data-represent = bw]{
    background-color: var(--main-c-12);
}

.themes-ul[data-back = "Dark"] [data-represent = red]{
    background-color: var(--main-c-6);
}
.themes-ul[data-back = "Dark"] [data-represent = blue]{
    background-color: var(--main-c-4);
}
.themes-ul[data-back = "Dark"] [data-represent = green]{
    background-color: var(--main-c-5);
}
.themes-ul[data-back = "Dark"] [data-represent = pink]{
    background-color: var(--main-c-10);
}
.themes-ul[data-back = "Dark"] [data-represent = yellow]{
    background-color: var(--main-c-11);
}
.themes-ul[data-back = "Dark"] [data-represent = bw]{
    background-color: var(--main-c-9);
}