.main{
    display:flex;
}

.main-right[data-color = Blue][data-back = "Light"]{
    text-shadow: 1px 1px 2px var(--main-c), -1px -1px 2px var(--main-c);
}
.main-right[data-color = Green][data-back = "Light"]{
    text-shadow: 1px 1px 2px var(--main-c-2), -1px -1px 2px var(--main-c-2);
}
.main-right[data-color = Red][data-back = "Light"]{
    text-shadow: 1px 1px 2px var(--main-c-3), -1px -1px 2px var(--main-c-3);
}

.main-right[data-color = Blue][data-back = "Dark"]{
    text-shadow: 1px 1px 2px var(--main-c-4), -1px -1px 2px var(--main-c-4);
}
.main-right[data-color = Green][data-back = "Dark"]{
    text-shadow: 1px 1px 2px var(--main-c-5), -1px -1px 2px var(--main-c-5);
}
.main-right[data-color = Red][data-back="Dark"]{
    text-shadow: 1px 1px 2px var(--main-c-6), -1px -1px 2px var(--main-c-6);
}



.main-left{
    width: var(--sec-s);
    height:100vh;

}

.main-left[data-back = "Dark"]{
    background-color:rgba(55, 55, 55, 0.9);
}

.main-left[data-back = "Light"]{
    background-color:rgba(132, 132, 132, 0.5);
}

.main-right[data-back = "Dark"]{
    background-color:var(--main-bc);
}

.main-right[data-back = "Light"]{
    background-color:var(--main-bc-2);
}

.main-right{
    width: 70vw;
    height:100vh;
    padding-left: 10px;
}

.main-right h1{ text-shadow:none;}

