.main{
    display:flex;
}


.main[data-back = "Dark"][data-color = Blue] .main-right {
    text-shadow: 2px 2px 3px #3b52ff, -2px -2px 3px #3b52ff;
}
.main[data-back = "Dark"][data-color = Green] .main-right {
    text-shadow: 2px 2px 3px #0ba620, -2px -2px 3px #0ba620;
}
.main[data-back="Dark"][data-color = Red] .main-right {
    text-shadow: 2px 2px 3px #ce1717, -2px -2px 3px #ce1717;
}
.main[data-back = "Dark"][data-color = Yellow] .main-right {
    text-shadow: 2px 2px 3px #f6f67f, -2px -2px 3px #f6f67f;
}
.main[data-back = "Dark"][data-color = Pink] .main-right {
    text-shadow: 2px 2px 3px #f895e2, -2px -2px 3px #f895e2;
}
.main[data-back="Dark"][data-color = BW] .main-right {
    text-shadow: 2px 2px 3px #ffffff, -2px -2px 3px #ffffff;
}


.main[data-back = "Dark"][data-color = Blue] , .main[data-back = "Dark"][data-color = Blue] .main-left .toggle {
    border-color:var(--main-c-4);
}
.main[data-back = "Dark"][data-color = Green] , .main[data-back = "Dark"][data-color = Green] .main-left .toggle{
    border-color:var(--main-c-5);
}
.main[data-back="Dark"][data-color = Red] , .main[data-back = "Dark"][data-color = Red] .main-left .toggle {
    border-color:var(--main-c-6);
}

.main[data-back = "Light"] .toggle, .main[data-back = "Light"]{
    background-color:var(--main-bc-4);
}



.main-left{
    height:100vh;
    width:30vw;
    position:fixed;
    z-index:990;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    border-style: solid;
    border-width: 1px;
    backdrop-filter:blur(5px) grayscale(70%);
}

.left-container{
    overflow-x: hidden;
}

/* Here is where Menu toggles*/

.main-left[data-status = true] {
    left:0;
}

.main-left[data-status = false] {
    left:-30vw;
}

.main-right{
    width: 70vw;
    height: 100vh;
    position:relative;
    left:30vw;
    overflow-y: scroll;
    text-align:center;
}


/*.main-right h1{ text-shadow:none;}*/

.toggle-menu{
    position: absolute;
    right: -41px;
    top:45%;
    font-size: 25px;
    width:40px;
    height:40px;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-left: none;
    display: flex;
    align-content:center;
    align-items: center;
    justify-content:center;
}

.main[data-back = "Dark"] .toggle-menu {
    color:white;
}

.main[data-back = "Light"] .toggle-menu {
    color:Black;
}

/* media query */

@media screen and (max-width:600px){
    .main-left
    {
      width: 70vw;
    }  
    .main-left[data-status = false] 
    {
        left:-70vw;
    
    }
    .main-right
    {
        width: 100vw;
        left:0;
    }
  }

