@font-face{
  font-family: consolas;
  src: url("../public/files/Consolas-font/Consolas.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--main-c);
  font-family: 'Courier New', Courier, monospace;
  font-weight:800;
  text-transform: uppercase;
}



.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --main-c:   #030b6c;
  --main-c-2: #0d4702;
  --main-c-3: #5c0303;

  --main-c-4: #6e7afa;
  --main-c-5: #7efe68;
  --main-c-6: #fa6262;

  --main-bc:   #000000;
  --main-bc-2: #d2d2d2;
  --main-bc-3: #373737;
  --main-bc-4: #cbcbcb;
  --main-res-bc:#000211;
  --main-res-bc-2:#031200;
  --main-res-bc-3:#230101;


  --obj-s: 30%;
  --obj-b: 70%;

  --sec-s: 30vw;
  --sec-b: 70vw;
  
}

body
{
  overflow-y: hidden;
}

[data-back = "Light"]{
  background-color: var(--main-bc-2);
}

[data-back = "Light"][data-color = Blue] {
  color: var(--main-c);
}
[data-back = "Light"][data-color = Green] {
  color: var(--main-c-2);
}
[data-back = "Light"][data-color = Red] {
  color:  var(--main-c-3);
}

[data-back = "Dark"][data-color = Blue] {
  color: var(--main-c-4);
  background-color: var(--main-res-bc);
}
[data-back = "Dark"][data-color = Green] {
  background-color: var(--main-res-bc-2);
  color:  var(--main-c-5);
}
[data-back="Dark"][data-color = Red] {
  background-color: var(--main-res-bc-3);
  color:  var(--main-c-6);
}

.main-right {
  text-align: center;
}

.main-right p{
  padding-left: 20px;
  width: 80%;
  text-align: justify;
  margin: 0 auto 15px auto;
}
.main-right h1 {
  text-align : center
}

/* Media Query*/
