@font-face{
  font-family: consolas;
  src: url("../public/files/Consolas-font/Consolas.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--main-c);
  font-family: 'Courier New', Courier, monospace;
;}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --main-c:   #0513ab;
  --main-c-2: #136904;
  --main-c-3: #a20707;

  --main-c-4:   #3949ff;
  --main-c-5: #22d303;
  --main-c-6: #ff0f0f;

  --main-bc:   #000000;
  --main-bc-2: #d2d2d2;
  --main-bc-3: #373737;
  --main-bc-4: #cbcbcb;

  --obj-s: 30%;
  --obj-b: 70%;

  --sec-s: 30vw;
  --sec-b: 70vw;
  
}

body
{
  overflow-y: hidden;
}

[data-back = "Light"][data-color = Blue] {
  color: var(--main-c);
}
[data-back = "Light"][data-color = Green] {
  color: var(--main-c-2);
}
[data-back = "Light"][data-color = Red] {
  color:  var(--main-c-3);
}

[data-back = "Dark"][data-color = Blue] {
  color: var(--main-c-4);
}
[data-back = "Dark"][data-color = Green] {
  color:  var(--main-c-5);
}
[data-back="Dark"][data-color = Red] {
  color:  var(--main-c-6);
}

/* Media Query*/
