
.clock-container{
    display: inline-block;
    width: 100%;
    background-color: transparent;
    text-align:center;
    margin-top: 2rem;
}

.clock-svg {
    width:30%;
}

.clock-circle, .clock-pointer{
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.clock-pointer{
    stroke-linecap: round;
}

.clock-seconds{
    stroke-width: 1;
}

.clock-minutes{
    stroke-width: 4;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.clock-hours{
    stroke-width: 4;
}

.clock-container[data-color = Green][data-back = "Light"] .clock-pointer, .clock-container[data-color = Green][data-back = "Light"] .clock-circle{
    stroke: var(--main-c-2);
}

.clock-container[data-color = Blue][data-back = "Light"] .clock-pointer, .clock-container[data-color = Blue][data-back = "Light"] .clock-circle{
    stroke: var(--main-c);
}

.clock-container[data-color = Red][data-back = "Light"] .clock-pointer, .clock-container[data-color = Red][data-back = "Light"] .clock-circle{
    stroke: var(--main-c-3);
}

.clock-container[data-color = Green][data-back = "Dark"] .clock-pointer, .clock-container[data-color = Green][data-back = "Dark"] .clock-circle{
    stroke: var(--main-c-5);
}

.clock-container[data-color = Blue][data-back = "Dark"] .clock-pointer, .clock-container[data-color = Blue][data-back = "Dark"] .clock-circle{
    stroke: var(--main-c-4);
}

.clock-container[data-color = Red][data-back = "Dark"] .clock-pointer, .clock-container[data-color = Red][data-back = "Dark"] .clock-circle{
    stroke: var(--main-c-6);
}

/* media query*/

@media (max-height: 500px)
{
  .clock-container{
      display: none;
  }
}